<p>All flags</p>

<ul>
  <li>application: {{this.applicationFlag}} <button type="button" {{on 'click' (fn this.update 'application')}}>Update</button></li>
  <li>a: {{this.aFlag}} <button type="button" {{on 'click' (fn this.update 'a')}}>Update</button></li>
  <li>b: {{this.bFlag}} <button type="button" {{on 'click' (fn this.update 'b')}}>Update</button></li>
  <li>education: {{this.educationFlag}}
    <button type="button" {{on 'click' (fn this.setFlag 'education' 'control')}}>Control</button>
    <button type="button" {{on 'click' (fn this.setFlag 'education' 'treatment')}}>Treatment</button>
  </li>
</ul>